# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints
.virtual_documents/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env

# Data artifacts (if you save generated CSVs/plots locally, uncomment as needed)
# *.csv
# *.png

# IDE
.vscode/
.idea/
.backup/
*.png
